In [ ]:
'''!pip install ipython-sql
!pip install sqlalchemy
!pip install psycopg2'''

In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://postgres:12345@localhost:5432/testdb

In [ ]:
%%sql
UPDATE games_data_cleaned
SET discounted_price = 0.0
WHERE discounted_price = 'Free To Play'
OR discounted_price = 'Free to Play'
OR discounted_price = 'Free';

ALTER TABLE games_data_cleaned
ALTER COLUMN price TYPE double precision
USING price::double precision;
        
ALTER TABLE games_data_cleaned
ALTER COLUMN discounted_price TYPE double precision
USING discounted_price::double precision;

In [ ]:
%%sql

SELECT *
FROM games_data_cleaned

Showing only paid games:

In [ ]:
%%sql

SELECT *
FROM games_data_cleaned
WHERE payment = 'Paid'

Showing only free to play games:

In [ ]:
%%sql

SELECT *
FROM games_data_cleaned
WHERE payment = 'Free to Play'

Showing games in the RPG genre:

In [ ]:
%%sql

SELECT title, genre1,genre2,genre3,genre4,genre5,genre6
FROM games_data_cleaned
WHERE genre1 LIKE '%RPG%'
OR genre2 LIKE '%RPG%'
OR genre3 LIKE '%RPG%'
OR genre4 LIKE '%RPG%'
OR genre5 LIKE '%RPG%'
OR genre6 LIKE '%RPG%'

Showing games under a certain discounted price, in alphabetical order:

In [ ]:
%%sql

SELECT title, discounted_price
FROM games_data_cleaned
WHERE discounted_price < 40 AND discounted_price != 0
ORDER BY title

Showing the 10 cheapest games:

In [ ]:
%%sql

SELECT title, discounted_price
FROM games_data_cleaned
WHERE discounted_price != 0
ORDER BY discounted_price
LIMIT(10)

Showing games above 60% review percentage and has more than 10000 reviews:

In [ ]:
%%sql

SELECT title, review_percentage, review_count_user
FROM games_data_cleaned
WHERE review_percentage > 60 AND review_count_user > 10000

Showing Strategy games by order of release date:

In [ ]:
%%sql

SELECT title, release_date
FROM games_data_cleaned
WHERE genre1 LIKE '%Strategy%'
OR genre2 LIKE '%Strategy%'
OR genre3 LIKE '%Strategy%'
OR genre4 LIKE '%Strategy%'
OR genre5 LIKE '%Strategy%'
OR genre6 LIKE '%Strategy%'
ORDER BY release_date DESC

Showing games who's discounted price is lower than the average discounted price, starting from the most expensive:

In [ ]:
%%sql

SELECT title, discounted_price
FROM games_data_cleaned
WHERE discounted_price < 
(SELECT AVG(discounted_price) FROM games_data_cleaned WHERE discounted_price != 0) 
AND discounted_price!=0
ORDER BY discounted_price DESC

Showing discounted games, their original and discounted games, and the discount percentage, from highest percentage:

In [ ]:
%%sql

SELECT title, price, discounted_price, ROUND(((cast(price as double precision)-discounted_price)/cast(price as double precision)*100)::numeric,2) AS discount_percentage
FROM games_data_cleaned
WHERE price != 0 AND discounted_price!=0
ORDER BY discount_percentage DESC

10 Cheapest Games

In [ ]:
%%sql
 
SELECT title, price, discounted_price, (CASE WHEN discounted_price = 0 THEN price ELSE discounted_price END) AS final_price
FROM games_data_cleaned
WHERE price != 0
ORDER BY final_price
LIMIT(10)